<!-- button up start -->
<!-- Questo div è necessario per oscurare la pagina quano il menù è aperto.
     Va inserito nella pagina DOPO IL FOOTER -->
<div class="menu-underlayer" id="overlayer"></div>
<!-- Questo div gestisce la freccia di ritorno in alto -->
<div id="topcontrol" class="topcontrol" title="Torna su">
  <%= image_tag("torna_su.svg", class: "tornasuimg", alt: "Torna su") %>
</div>
<!-- button up end -->
