<!-- footer start -->
    <footer>
      <div class="container">

        <div class="row clearfix">
          <div class="col-lg-12">
            <div class="logo-img"><a href="index.html" title="Regione Lombardia">
              <%= image_tag("Regione-Lombardia-Stemma.svg", alt: "Logo di Regione Lombardia") %>
            </a></div>
            <div class="logo-text"><h3><a href="index.html" title="Regione Lombardia">Regione Lombardia</a></h3></div>
          </div>
        </div>
        <section>
          <h3 class="sr-only">Sezione Footer</h3>
          <div class="row clearfix">
              <div class="col-lg-3 col-md-3 col-xs-12">
                <h4>Trasparenza</h4>
                <div class="row clearfix">
                  <div class="col-lg-12 addressBox">
                    <div>
                      <ul class="footer-list clearfix">
                        <li><a href="#" title="">Amministrazione trasparente</a></li>
                        <li><a href="#" title="">Accesso civico</a></li>
                        <li><a href="#" title="">Bandi e avvisi</a></li>
                        <li><a href="#" title="">Normativa</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-9 col-md-9 col-xs-12 vivereList">
                <h4>Vivere la lombardia</h4>
                <div class="row clearfix">
                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 addressBox">
                    <div>
                      <ul class="footer-list clearfix">
                        <li class=""><a href="#" title="Agricoltura">Agricoltura</a></li>
                        <li class=""><a href="#" title="Ambiente">Ambiente</a></li>
                        <li class=""><a href="#" title="Cultura">Cultura</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 addressBox">
                    <div>
                      <ul class="footer-list clearfix">
                        <li class=""><a href="#" title="Turismo">Turismo</a></li>
                        <li class=""><a href="#" title="Ricerche">Ricerche</a></li>
                        <li class=""><a href="#" title="Migranti">Migranti</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 addressBox">
                    <div>
                      <ul class="footer-list clearfix">
                        <li class=""><a href="#" title="Saperi della montagna">Saperi della montagna</a></li>
                        <li class=""><a href="#" title="Saperi della pianura">Saperi della pianura</a></li>
                        <li class=""><a href="#" title="Programma europeo di Partenariato">Programma europeo di Partenariato</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </section>
        <section class="contatti">
          <h3 class="sr-only">Sezione Contatti</h3>
          <div class="row clearfix">
              <div class="col-lg-9 col-md-9">
                <h4>Contatti</h4>
                <div class="row clearfix">
                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 addressBox">
                    <div>
                      <ul class="footer-list clearfix">
                        <li class="">
                          <div class="address">
                          <h5>Sede di Milano</h5>
                          Piazza Città di Lombardia, 1<br/>
                          20124 Milano<br/>
                          tel. +39 02 6765 1
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 addressBox">
                    <div>
                      <ul class="footer-list clearfix ">
                        <li class="">
                          <div class="address">
                            <h5>Delegazione di Roma</h5>
                            Via del Gesù, 57<br/>
                            00187 Roma<br/>
                            tel. +39 06 695 211<br/>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 addressBox">
                    <div>
                      <ul class="footer-list clearfix">
                        <li class="">
                          <div class="address">
                            <h5>Delegazione di Bruxelles</h5>
                            Place du Champ De Mars, 1/3<br/>
                            B1050 Bruxelles<br/>
                            tel. +32 2 518 76 00<br/>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="social">
                    <h4>Seguici su</h4>
                    <div class="row clearfix">
                      <div class="col-lg-12 addressBox">
                        <div class="address">
                          <a href="#" title="Seguici su Facebook"><span class="icon icon-facebook"></span></a>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="pec">
                    <h4>Indirizzi PEC</h4>
                    <div class="row clearfix">
                      <div class="col-lg-12 addressBox ">
                        <div>
                          <ul class="footer-list clearfix no-line">
                            <li class=""><a href="#" title="Posta elettronica certificata(PEC) Facebook">Posta elettronica certificata</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
          </div>
        </section>
        <section class="postFooter clearfix">
          <h3 class="sr-only">Sezione Link Utili</h3>
          <ul class="list-inline">
              <li><a href="mailto:centralino@regione.lombardia.it" title="Contatti sito">Contatti sito</a></li>
              <li><a href="#" title="Note legali">Note legali</a></li>
              <li><a href="#" title="Privacy Policy">Privacy Policy</a></li>
              <li><a href="#" title="Dati monitoraggio sito">Dati monitoraggio sito</a></li>
              <li><a href="#" title="RSS" class="rss-icon"><span class="icon-rss-two"></span></a></li>
          </ul>
        </section>
      </div>
    </footer>
    <!-- footer end -->
