<!-- Menu orizzontale start -->
<nav class="hidden-xs" id="sub_nav">
  <h3 class="sr-only">Submenu</h3>
  <ul class="clearfix">
    <li><a href="sezione-aree.html" title="Vai alla pagina: Aree tematiche">Aree tematiche</a></li>
    <li><a href="sezione-amministrazione.html" title="Vai alla pagina: Amministrazione">Amministrazione</a></li>
    <li><a href="sezione-vivere.html" title="Vai alla pagina: Vivere la Lombardia">Vivere la Lombardia</a></li>
    <li><a href="#" title="Vai alla pagina: Servizi">Servizi</a></li>
  </ul>
</nav>
<!-- Menu orizzontale end -->
