<!-- Navbar start -->
<nav id="navbar" class="col-lg-3 col-md-3 col-sm-4 col-xs-12 nav sidebar-offcanvas" data-turbolinks="false">
  <%= image_tag("x-verde.svg", id: "chiudimenu", alt: "chiudi il menu") %>
  <div class="scrolling-nav-wrapper">
      <ul class="nav nav-stacked" id="mainmenu">
        <li class="list-group-item"><a href="index.html">Homepage</a></li>
        <li class="list-group-item ">
            <a href="#" class="accordian-toggle collapsed" data-toggle="collapse" data-parent="#navbar" data-target="#area-submenu">Aree tematiche</a>
            <ul class="sublinks collapse" id="area-submenu">
              <li class="list-group-item "><a href="sezione-aree.html" title="Vai alla pagina: Homepage Aree Tematiche">Homepage Aree Tematiche</a></li>
              <li class="list-group-item "><a href="agricoltura.html" title="Vai alla pagina: Agricoltura">Agricoltura</a></li>
              <li class="list-group-item "><a href="#" title="Vai alla pagina: Ambiente e territorio">Ambiente e territorio</a></li>
              <li class="list-group-item "><a href="#" title="Vai alla pagina: Attività istituzionali">Attività istituzionali</a></li>
              <li class="list-group-item "><a href="#" title="Vai alla pagina: Attività produttive">Attività produttive</a></li>
              <li class="list-group-item "><a href="#" title="Vai alla pagina: Cultura e istruzione">Cultura e istruzione</a></li>
              <li class="list-group-item "><a href="#" title="Vai alla pagina: Innovazione tecnologia">Innovazione tecnologia</a></li>
              <li class="list-group-item "><a href="#" title="Vai alla pagina: Risorse finanziarie">Risorse finanziarie</a></li>
              <li class="list-group-item "><a href="#" title="Vai alla pagina: Lavoro">Lavoro</a></li>
              <li class="list-group-item "><a href="#" title="Vai alla pagina: Sanità e politiche sociali">Sanità e politiche sociali</a></li>
              <li class="list-group-item "><a href="#" title="Vai alla pagina: Trasporti">Trasporti</a></li>
              <li class="list-group-item "><a href="#" title="Vai alla pagina: Turismo e sport">Turismo e sport</a></li>
            </ul>
        </li>
        <li class="list-group-item "><a class="accordian-toggle collapsed" href="#" data-toggle="collapse" data-parent="#navbar" data-target="#amministrazione-submenu">Amministrazione</a>
            <ul class="sublinks collapse" id="amministrazione-submenu">
              <li class="list-group-item "><a href="sezione-amministrazione.html" title="Vai alla pagina: Homepage Amministrazione">Homepage Amministrazione</a></li>
              <li class="list-group-item"><a href="#" title="Vai alla pagina: Statuto">Statuto</a></li>
              <li class="list-group-item"><a href="#" title="Vai alla pagina: Presidente">Presidente</a></li>
              <li class="list-group-item"><a href="#" title="Vai alla pagina: Giunta">Giunta</a></li>
              <li class="list-group-item"><a href="#" title="Vai alla pagina: Responsabile anticorruzione">Responsabile anticorruzione</a></li>
              <li class="list-group-item"><a href="#" title="Vai alla pagina: Consiglio">Consiglio</a></li>
              <li class="list-group-item"><a href="#" title="Vai alla pagina: Ufficio stampa">Ufficio stampa</a></li>
              <li class="list-group-item"><a href="#" title="Vai alla pagina: Struttura organizzativa">Struttura organizzativa</a></li>
              <li class="list-group-item"><a href="#" title="Vai alla pagina: Strutture commissariali">Strutture commissariali</a></li>
              <li class="list-group-item"><a href="#" title="Vai alla pagina: Delibere">Delibere</a></li>
              <li class="list-group-item"><a href="#" title="Vai alla pagina: Bandi di concorso">Bandi di concorso</a></li>
              <li class="list-group-item"><a href="#" title="Vai alla pagina: Bandi di gara e avvisi">Bandi di gara e avvisi</a></li>
              <li class="list-group-item"><a href="#" title="Vai alla pagina: Leggi e normative">Leggi e normative</a></li>
              <li class="list-group-item"><a href="#" title="Vai alla pagina: Archivi">Archivi</a></li>
              <li class="list-group-item"><a href="#" title="Vai alla pagina: Pari opportunità">Pari opportunità</a></li>
              <li class="list-group-item"><a href="#" title="Vai alla pagina: Organismi regionali">Organismi regionali</a></li>
              <li class="list-group-item"><a href="#" title="Vai alla pagina: Elezioni e referendum">Elezioni e referendum</a></li>
              <li class="list-group-item"><a href="#" title="Vai alla pagina: Rapporti istituzionali">Rapporti istituzionali</a></li>
              <li class="list-group-item"><a href="#" title="Vai alla pagina: Identità istituzionale">Identità istituzionale</a></li>
            </ul>
        </li>
        <li class="list-group-item "><a class="accordian-toggle collapsed" href="#" data-toggle="collapse" data-parent="#navbar"  data-target="#vivere-submenu" >Vivere la Lombardia</a>
            <ul class="sublinks collapse" id="vivere-submenu">
              <li class="list-group-item "><a href="sezione-vivere.html" title="Vai alla pagina: Homepage Vivere la Lombardia">Homepage Vivere la Lombardia</a></li>
              <li class="list-group-item"><a href="#" title="Vai alla pagina: Agricoltura">Agricoltura</a></li>
              <li class="list-group-item"><a href="#" title="Vai alla pagina: Ambiente">Ambiente</a></li>
              <li class="list-group-item"><a href="#" title="Vai alla pagina: Cultura">Cultura</a></li>
              <li class="list-group-item"><a href="#" title="Vai alla pagina: Turismo">Turismo</a></li>
              <li class="list-group-item"><a href="#" title="Vai alla pagina: Digital Library">Digital Library</a></li>
              <li class="list-group-item"><a href="#" title="Vai alla pagina: Ricerche">Ricerche</a></li>
              <li class="list-group-item"><a href="#" title="Vai alla pagina: Migranti">Migranti</a></li>
                  <li class="list-group-item"><a href="#" title="Vai alla pagina: Saperi del Mediterraneo">Saperi del Mediterraneo</a></li>
              <li class="list-group-item"><a href="#" title="Vai alla pagina: Iscol@">Iscol@</a></li>
              <li class="list-group-item"><a href="#" title="Vai alla pagina: Programma europeo di Partenariato">Programma europeo di Partenariato</a></li>
            </ul>
        </li>
        <li class="list-group-item"><a href="#" class="accordian-toggle collapsed" data-toggle="collapse" data-parent="#navbar" data-target="#servizi-submenu">Servizi</a>
            <ul class="sublinks collapse" id="servizi-submenu">
              <li class="list-group-item "><a href="sezione-servizi.html" title="Vai alla pagina: Homepage servizi">Homepage Servizi</a></li>
              <li class="list-group-item"><a href="#" title="Vai alla pagina: Biblioteche">Biblioteche</a></li>
              <li class="list-group-item"><a href="#" title="Vai alla pagina: Comunas">Comunas</a></li>
              <li class="list-group-item"><a href="#" title="Vai alla pagina: Centro Acquisto Territoriale">Centro Acquisto Territoriale</a></li>
              <li class="list-group-item"><a href="#" title="Vai alla pagina: Entrate">Entrate</a></li>
              <li class="list-group-item"><a href="#" title="Vai alla pagina: Lavoro">Lavoro</a></li>
              <li class="list-group-item"><a href="#" title="Vai alla pagina: Impresa">Impresa</a></li>
              <li class="list-group-item"><a href="#" title="Vai alla pagina: Mobilità">Mobilità</a></li>
              <li class="list-group-item"><a href="#" title="Vai alla pagina: Geoportale">Geoportale</a></li>
              <li class="list-group-item"><a href="#" title="Vai alla pagina: Salute">Salute</a></li>
              <li class="list-group-item"><a href="#" title="Vai alla pagina: Statistiche">Statistiche</a></li>
              <li class="list-group-item"><a href="#" title="Vai alla pagina: Territorio">Territorio</a></li>
              <li class="list-group-item"><a href="#" title="Vai alla pagina: Protezione civile">Protezione civile</a></li>
            </ul>
        </li>
        <li class="list-group-item "><a href="notizie.html" title="Via alla pagina: Notizie">Notizie</a></li>
        <li class="list-group-item"><a class="accordian-toggle collapsed" href="#" data-toggle="collapse" data-parent="#navbar" data-target="#gallerie-submenu">Gallerie</a>
            <ul class="sublinks collapse" id="gallerie-submenu">
              <li><a href="gallerie.html" title="">Homepage Gallerie</a></li>
              <li><a href="#" title="">Immagini</a></li>
              <li><a href="#" title="">Video</a></li>
              <li><a href="#" title="">Novas</a></li>
            </ul>
        </li>
      </ul>
  </div>
</nav>
<!-- Navbar end -->
