<!-- sezione servizi start -->
<section id="servizi" class="fascia-grey">
  <h3 class="sr-only">Sezione Servizi</h3>
  <div class="container">
    <div class="row clearfix">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <h3>Servizi</h3>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
        <h3 class="text-primary smaller"><a href="sezione-servizi.html" title="Vedi tutto" class="text-underlined">Vedi tutto</a></h3>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-4 col-md-4 col-sx-6 col-xs-12">
        <article>
          <h4 class="text-primary"><a href="#" title="La tua cartella clinica">La tua cartella clinica</a></h4>
          <p>
            Il Fascicolo Sanitario Elettronico è una raccolta  di documentazione sanitaria, disponibile online in forma riservata, che racconta la  storia clinica e di salute del cittadino.
          </p>
        </article>
      </div>
      <div class="col-lg-4 col-md-4 col-sx-6 col-xs-12">
        <article>
          <h4 class="text-primary"><a href="#" title="Prenota la tua visita">Prenota la tua visita</a></h4>
          <p>
            Il Centro Unico di Prenotazione è il sistema di prenotazione online delle prestazioni specialistiche sanitarie della Regione Lombardia.
          </p>
        </article>
      </div>
      <div class="col-lg-4 col-md-4 col-sx-6 col-xs-12">
        <article>
          <h4 class="text-primary"><a href="#" title="Apri la tua azienda in 1 ora">Apri la tua azienda in 1 ora</a></h4>
          <p>
            Lo Sportello Unico per le Attività Produttive è l'interlocutore unico dell'imprenditore per qualsiasi procedimento che riguarda la sua attività.
          </p>
        </article>
      </div>
    </div>
  </div>
</section>
<!-- sezione servizi end -->
