  <!-- sezione questionario start -->
  <section class="fascia-green">
    <h3 class="sr-only">Sezione Questionario</h3>
    <div class="text-center">
      <a href="form.html" title="Valuta questo sito, rispondi al questionario">
        <span class="fa fa-pencil"></span> Valuta questo sito, rispondi al questionario
      </a>
    </div>
  </section>
  <!-- sezione questionario end -->
