<!-- sezione vivere start -->
<section id="vivere">
    <h3 class="sr-only">Sezione Vivere la Lombardia</h3>
    <div class="container">
      <div class="row clearfix">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <h3>Vivere la Lombardia</h3>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
          <h3 class="text-primary smaller"><a href="sezione-vivere.html" title="vedi tutto" class="text-underlined">Vedi tutto</a></h3>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <button class="btn btn-primary btn-block text-left btn-with-icon">
            <span class="fa fa-lg fa-book" aria-hidden="true"></span>
            Digital Library
          </button>
        </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <button class="btn btn-primary btn-block text-left btn-with-icon">
            <span class="fa fa-lg fa-line-chart" aria-hidden="true"></span>
              Lombardia Statistiche
            </button>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <button class="btn btn-primary btn-block text-left btn-with-icon">
            <span class="fa fa-lg fa-stethoscope" aria-hidden="true"></span>
              Lombardia Salute
            </button>
          </div>
      </div>
    </div>
</section>
<!-- sezione vivere end -->
