<!-- sezione gallerie start -->
<section id="gallerie" class="fascia-dark-gray">
  <h3 class="sr-only">Sezione Gallerie</h3>
  <div class="container">
    <div class="row clearfix">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <h3>Gallerie</h3>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
        <h3 class="smaller"><a href="gallerie.html" title="vedi tutto" class="text-underlined">Vedi tutto</a></h3>
      </div>
    </div>
    <!-- articolo gallerie start -->
    <article class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <figure>
        <a href="#" title="Meridiana-raggiunto-accordo-con-intervento-Governo">
          <%= image_tag("pallomb01.jpg", alt: "Meridiana-raggiunto-accordo-con-intervento-Governo", class: "img-responsive") %>
        </a>
      </figure>
      <h4 class="icon-image">
        <span class="fa fa-lg fa-camera-retro" aria-hidden="true"></span>
        <a href="#">Meridiana raggiunto accordo con intervento Governo</a>
      </h4>
    </article>
    <!-- articolo gallerie end -->
    <!-- articolo gallerie start -->
    <article class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <figure>
        <a href="#" title="Pubblicato-il-bando-Terra-ai-Giovani">
          <%= image_tag("pallomb02.jpg", alt: "Pubblicato-il-bando-Terra-ai-Giovani", class: "img-responsive") %>
        </a>
      </figure>
      <h4 class="icon-image">
        <span class="fa fa-lg fa-camera-retro" aria-hidden="true"></span>
        <a href="#">Pubblicato il bando Terra ai Giovani</a>
      </h4>
    </article>
    <!-- articolo gallerie end -->
    <!-- articolo gallerie start -->
    <article class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <figure>
        <a href="#" title="Pigliaru-a-Bruxelles-su-clima">
          <%= image_tag("pallomb04.jpg", alt: "Pigliaru-a-Bruxelles-su-clima", class: "img-responsive") %>
        </a>
      </figure>
      <h4 class="icon-image">
        <span class="fa fa-lg fa-camera-retro" aria-hidden="true"></span>
        <a href="#">Pigliaru a Bruxelles su clima</a>
      </h4>
    </article>
    <!-- articolo gallerie end -->
  </div>
</section>
<!-- sezione gallerie end -->
