<!-- sezione social start -->
<section id="social" class="fascia-grey">
  <h3 class="sr-only">Sezione Social</h3>
  <div class="container">
    <div class="row clearfix">
      <!--div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"-->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a class="pull-left socialWrapper" href="#"><span class="icon icon-facebook"></span><span class="sr-only">Seguici su Facebook</span></a>
      <!--/div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right"-->
        <a class="pull-right text-primary" href="#">@regionelombardia</a>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 tile">
      <article class="rounded-box ">
        <div class="content">
          <div class="h6"><a href="#">Digitale</a></div>
          <time datetime="2016-06-20" class="small">20 Giugno 2016</time>
          <h4 class="text-normal text-primary"><a href="#">Lombardia Digitale, al via due nuovi progetti regionali finanziati dall'Europa</a></h4>
        </div>
        <ul class="social-footer list-inline small">
          <li class="likes"><i class="fa fa-thumbs-up"></i>234</li>
          <li class="comments"><i class="fa fa-comment"></i>25</li>
          <li class="replies"><i class="fa fa-mail-forward"></i>12</li>
        </ul>
      </article>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 tile">
      <article class="rounded-box ">
        <div class="content">
          <div class="h6"><a href="#">ITC</a></div>
          <time datetime="2016-06-20" class="small">20 Giugno 2016</time>
          <h4 class="text-normal text-primary"><a href="#">Internazionalizzazione, prorogata al 7 luglio la scadenza della data del bando per il forum ITC di ottobre</a></h4>
        </div>
        <ul class="social-footer list-inline small">
          <li class="likes"><i class="fa fa-thumbs-up"></i>234</li>
          <li class="comments"><i class="fa fa-comment"></i>88</li>
          <li class="replies"><i class="fa fa-mail-forward"></i>5</li>
        </ul>
      </article>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 tile">
      <article class="rounded-box ">
        <div class="content">
          <div class="h6"><a href="#">Agricoltura</a></div>
            <time datetime="2016-06-20" class="small">20 Giugno 2016</time>
            <h4 class="text-normal"><a href="#">Città del vino, accordo con la Regione per la promozione e valorizzazione dei territori</a></h4>
          </div>
          <ul class="social-footer list-inline small">
            <li class="likes"><i class="fa fa-thumbs-up"></i>321</li>
            <li class="comments"><i class="fa fa-comment"></i>34</li>
            <li class="replies"><i class="fa fa-mail-forward"></i>1</li>
          </ul>
        </article>
      </div>
    </div>
</section>
<!-- sezione social end -->    
